body {
    background-color: whitesmoke;
    font-family: sans-serif;
}

h1 {
    color: #FF1D6B;
    margin: 30px;
}

h2 {
    color: ;
    margin-left: 5px;
}

ul {
    color: darkgrey;
    margin: 30px;
}

.mythumbnail {
    border-radius: 0;
    padding:0;
}

.titlebar{
  background-color: rgba(255,29,57,0.8);
}

.data {
    margin-left: 25px;
    font-weight: bold;
}

.data i{
  font-weight: bolder; 
}
